<!DOCTYPE html>
<html lang="es">
<head>
    
    <link rel="shortcut icon" href="favicon.jpg">

    <!-- ******* contador ******* -->

    <div id="sfc8a9pmcnfa7qxqrzxkd39ksts5nn5zhye"></div>
<script type="text/javascript" src="https://counter1.stat.ovh/private/counter.js?c=8a9pmcnfa7qxqrzxkd39ksts5nn5zhye&down=async" async></script>
<br><a>&nbsp&nbsp<b><u><font color="white">VISITAS</font></u></b></a> 
    
    
    <!-- ******* cabezera ******* -->
    <meta charset="UTF-8">
    <title>ESTAFA</title>
    <link th:href="@{/css/estilos.css}" rel="stylesheet" />
    
 
    
    </head>
<body>
  
 <!-- ******* VIDEO FONDO ******* -->
 <div class="contenido__video">
     
  <video class="video" autoplay="autoplay" loop="loop" muted="muted" poster="images/artesano.png">
   <source src="css/Anonymous%20-%20Donning%20the%20Digital%20Mask%20-%20HD%20Animation.mp4">
  </video>
 </div>
 
 <!-- Agrega tu código desde aquí -->
 <header>
     <a href="#"><img src="css/fondo.png"></a>
        <h1>Bienvenido a <i>Estafa</i></h1>
        <nav>
            <a th:href="@{/}">&nbsp INICIO&nbsp&nbsp&nbsp</a>
            
            <a th:href="@{/usuarios/contacta}">&nbsp CONTACTO &nbsp&nbsp</a>
            
            <a th:href="@{/usuarios/login}">&nbsp INICIAR SESIÓN &nbsp&nbsp</a>
            
            <a th:href="@{/usuarios/add}">&nbsp REGISTRARSE &nbsp&nbsp</a>
        
        
        </nav>
      
    </header>
    
    <div class="wrapper">
        <section>
                
            
           <center>
            <img src="css/cuidado%20no%20te%20estafen.png" width="700px" height="150px">  
            
            <FONT SIZE=10>
            <p>Ahora mismo nuestra web esta en construccion por lo tanto puedes mandarnos un email a : EstafaOfficial@gmail.com.</p>
            </FONT>
           </center>
</body>
    

</html>