<!DOCTYPE html>
<html lang="es">
<head >
    
    <link rel="shortcut icon" href="@{/css/favicon.jpg}">
	
    
    <!-- ******* cabezera ******* -->
    <meta charset="UTF-8">
    <title>ESTAFA</title>
    <link th:href="@{/css/estilos.css}" rel="stylesheet" />
    
 
    
    </head>
<body>
  
 <!-- ******* VIDEO FONDO ******* -->
<div class="contenido__video">
     
  <video class="video" autoplay="autoplay" loop="loop" muted="muted" poster="images/artesano.png">
   <source th:src="@{/css/Anonymous%20-%20Donning%20the%20Digital%20Mask%20-%20HD%20Animation.mp4}">
  </video>
 </div>
 
 <!-- Agrega tu código desde aquí -->
 
      <header class="header2">
        <div class="wrapper">
        
    
        <nav>
             <a th:href="@{/}">&nbsp INICIO&nbsp&nbsp&nbsp</a>
            
            
            <a th:href="@{/tienda}">&nbsp TIENDAS &nbsp&nbsp</a>
            
            
            
        
        
        </nav>
        <div align="left"><img src="https://i.ibb.co/tY9Z9Fh/ESTAFALOGO.png" width="190" height="100"></div>
        
        </header>
    
    <div class="wrapper">
        <section>
                
            
           <center>
           <br><br><br><br><br><br><br><br><br><br><br>
           <FONT SIZE=5>
	<table align="center" style="color: white;">
	
	
	<thead >
	<tr style="color: #00E0FF"><td>Nick&nbsp&nbsp</td><td><td>&nbspVeces denunciado&nbsp</td></tr>
	
	</thead>
	<tbody>
	
	<tr th:each="p : ${ListaUsuarios}">
	
	<td th:text= "${p.nick}"></td>
	
	<td></td>
	<td align="center" th:text="${p.denuncias}"></td>
	<td> <a th:href="@{/usuarios/denun/{nick}(nick=${p.nick})}"class="boton_4">denunciar</a>
	<br><br><br><br>
	</tr>
	</tbody>
	</table>
	</FONT>
	</font>
	</body>
</html>






