
<!DOCTYPE html>
<html lang="es">
<head>
    
    <link rel="shortcut icon" href="@{/css/favicon.jpg}">
	
    
    <!-- ******* cabezera ******* -->
    <meta charset="UTF-8">
    <title>ESTAFA</title>
    <link th:href="@{/css/estilos.css}" rel="stylesheet" />
    
 
    
    </head>
<body>
   
    <form class="box" th:action="@{/usuarios/conectar}" method="POST">	
        <h1>INICIAR SESIÓN</h1>
        
            <br>
            <input type="text" name="nick" placeholder="Usuario">
            <input type="password" name="password" placeholder="Contraseña">
            <input type="submit" value="INICIAR SESIÓN">                           

        </form>
 <!-- ******* VIDEO FONDO ******* -->
 <div class="contenido__video">
     
  <video class="video" autoplay="autoplay" loop="loop" muted="muted" poster="images/artesano.png">
   <source th:src="@{/css/Anonymous%20-%20Donning%20the%20Digital%20Mask%20-%20HD%20Animation.mp4}">
  </video>
 </div>
 
 <!-- Agrega tu código desde aquí -->
 
      <header class="header2">
      
        <div class="wrapper">
        <a href="#"><img src=""></a>
        <div class="logo">ESTAFA</div>
    
        <nav>
            <a th:href="@{/}">&nbsp INICIO&nbsp&nbsp&nbsp</a>
            
            <a th:href="@{/usuarios/contacta}">&nbsp CONTACTO &nbsp&nbsp</a>
            
            
            
            <a th:href="@{/usuarios/add}">&nbsp REGISTRARSE &nbsp&nbsp</a>
            
            
        
        
        </nav>
      
    </header>
    
    
                
            
           
</body>
    

</html>




