<!DOCTYPE html>
<html align="center">
	<head>
	<meta charset="ISO-8859-1">
	<link rel="shortcut icon" th:href="@{/css/favicon.jpg}">
	</head>
	<body  background="https://k39.kn3.net/taringa/3/4/4/5/4/6/0/em0otions10/567.jpg?9461">
		
	<font color="002B87">
	<FONT SIZE=15>
		<h1 th:text="${usuario}"></h1>
		</font>
		<FONT SIZE=6>
			<br><br><br><br><br><br>
				<div>
				<label for="valoracion">Valoracion:</label>
				<span th:text="${usuario.valoracion}"></span>
				<a th:href="@{/usuarios/pos/{nick}(nick=${usuario.nick})}"class="boton_4"> &#x1F44D;</a>
				<a th:href="@{/usuarios/neg/{nick}(nick=${usuario.nick})}"class="boton_4">&#x1F44E;</a>
			</div>
			<div>
				<label for="valoracion">Numero de Denuncias:</label>
				<span th:text="${usuario.denuncias}"></span>
			</div>
			<div>
				<label for="nombre">Nombre:</label>
				<span th:text="${usuario.nombre}"></span>
			</div>
			<div>
				<label for="apellidos">Apellidos:</label>
				<span th:text="${usuario.apellidos}"></span>
			</div>
			<div>
				<label for="nick">Nick:</label>
				<span th:text="${usuario.nick}"></span>
			</div>
			<div>
				<label  for="nacimiento">Fecha de nacimiento:</label>
				<span th:text="${#dates.format(usuario.nacimiento, 'dd-MM-yyyy')}"></span>
			</div>
			<div>
				<label for="email">Email:</label>
				<span th:text="${usuario.email}"></span>
			</div>
			<div>
				<label for="password">Password:</label>
				<span th:text="${usuario.password}"></span>
			</div>
			
			<div>
				<span>Mensajes:</span>
				<ul>
				<li th:each= "Mensaje : ${usuario.usuariomensajes}" th:text="${Mensaje}">
					</li>
					
					</ul>
			</div>
			</br>
			</font>
			</font>
			
	</body>
</html>