<!DOCTYPE html>
<html>
	<head>
	<meta charset="ISO-8859-1">
	<title>Crear Mensaje</title>
	</head>
	<body>
		<div th:switch="${mensaje.id}">
			<h1 th:case="null">Nuevo Mensaje</h1>
			<h1 th:case="*">Editando Mensaje</h1>
		</div>
		<form th:action="@{/mensajes/save}" method="post" th:object="${mensaje}">
			<input th:if="*{id}" type="hidden" nick="id" th:field="*{id}">
			
			<div>
				<label for="titulo">Titulo</label>
				<input type="text" nick="titulo" th:field="*{titulo}">
			</div>
			<div>
				<label for="contenido">Opinion</label>
				<textarea id="contenido" th:field="*{contenido}"></textarea>
			</div>
			<div>
				<label for="tienda">Tienda</label>
				<select id="tienda" th:field=*{tienda}>
					<option value="Seleccionar"></option>
					<option th:each= "tienda : ${listaTiendas}" th:value="${tienda.nombre}" th:text="${tienda.nombre}">
					</option>
				
				</select>
			</div>
			<div>
				<label for="usuario">Usuario</label>
				<select id="usuario" th:field=*{usuario}>
					<option value="Seleccionar"></option>
					<option th:each= "usuario : ${listausuarios}" th:value="${mensaje.autor}" th:text="${usuario.nick}">
					</option>
				</select>
			</div>
			<div>
				<input type="submit" value="Enviar">
			</div>
		</form>
	</body>
</html>