<!DOCTYPE html>
<html align="center">
	<head>
	<meta charset="ISO-8859-1">
	<title>ESTAFA</title>
	</head>
	<body background="https://k39.kn3.net/taringa/3/4/4/5/4/6/0/em0otions10/567.jpg?9461">
	<font color="002B87">
	    <FONT SIZE=15>
		<h1>Bienvenidos a ESTAFA</h1>
		</FONT>
		</font>
		<font color="red">
		<FONT SIZE=8>
		<h2>Donde no te estafaran</h2>
		</FONT>
		</font>
		<font color="002B87">
		<br>
		<FONT SIZE=8>
		<h3>¿Necesitas una cuenta? ---> <a th:href="@{/usuarios/add}">Crear nuevo usuario</a></h3>
		<h3>¿Ya tienes una cuenta? ---> <a th:href="@{/usuarios/login}">Iniciar Sesion</a></h3>
		</font>
		</br>
	</body>
</html>