

<!DOCTYPE html>
<html lang="es">
<head>
    
    <link rel="shortcut icon" href="@{favicon.jpg}">
	
    
    <!-- ******* cabezera ******* -->
    <meta charset="UTF-8">
    <title>ESTAFA</title>
    <link th:href="@{/css/estilos.css}" rel="stylesheet" />
    
 
    
    </head>
<body>
  
 <!-- ******* VIDEO FONDO ******* -->
<div class="contenido__video">
     
  <video class="video" autoplay="autoplay" loop="loop" muted="muted" poster="images/artesano.png">
   <source th:src="@{/css/Anonymous%20-%20Donning%20the%20Digital%20Mask%20-%20HD%20Animation.mp4}">
  </video>
 </div>
 
 <!-- Agrega tu código desde aquí -->
 
      <header class="header2">
        <div class="wrapper">
        <a href="#"><img src=""></a>
        <div class="logo">ESTAFA</div>
    
        <nav>
             <a th:href="@{/}">&nbsp INICIO&nbsp&nbsp&nbsp</a>
            
            
            <a th:href="@{/}">&nbsp TIENDAS &nbsp&nbsp</a>
            
            <a th:href="@{/}">&nbsp DENUNCIAR &nbsp&nbsp</a>
            
        
        
        </nav>
        
        
        </header>
    
    <div class="wrapper">
        <section>
                
            
           <center>
            
            
	<tbody>
	<br><br><br><br>
	<tr th:each="p : ${ListaModeradores}">
	
	<font size=6>
	<font style="color:white";>
	<br><br>
	<td th:text= "${p.nick}"></td>
	<td th:text="${p.valoracion}"></td>
	<td>   
	
	<a th:href="@{/usuarios/view/{nick}(nick=${p.nick})}" class="boton_4">Ver</a><a th:href="@{/usuarios/delete/{nick}(nick=${p.nick})}" class="boton_4">Banear</a>
	
	</tr>
	</font>
	</tbody>
	</table>
            
            </center>
            
        </br>   
</body>
    

</html>

