<!DOCTYPE html>
<html align="center">
	<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
	</head>
	<body background="https://k39.kn3.net/taringa/3/4/4/5/4/6/0/em0otions10/567.jpg?9461">
	<font color="blue">
	<FONT SIZE=15>
		<h1>Listado de usuarios</h1>
		</font>
		<FONT SIZE=6>
		<br><br><br><br><br><br>
		<a th:href="@{/usuarios/add}">Crear nuevo usuario</a>
		<a th:href="@{/usuarios/login}">Iniciar Sesion</a>
		<table align="center">
			<thead>
				<tr><td>Nombre</td><td>Apellidos</td><td>Nick</td><td></td></tr>
			</thead>
			<tbody>
			<tr th:each="p : ${ListaUsuarios}">
				<td th:text="${p.nombre}"></td>
				<td th:text="${p.apellidos}"></td>
				<td th:text="${p.nick}"></td>
				<td> <a th:href="@{/usuarios/view/{nick}(nick=${p.nick})}">Ver</a> <a th:href="@{/usuarios/edit/{nick}(nick=${p.nick})}">Editar</a> <a th:href="@{/usuarios/delete/{nick}(nick=${p.nick})}">Borrar</a>
			</tr>
			</tbody>
		</table>
	</body>
			</br>
			</font>
</html>