<!DOCTYPE html>
<html align="center">
	<head>
	<meta charset="ISO-8859-1">
	<title>Lista de Usuarios</title>
	</head>
	<body background="https://k39.kn3.net/taringa/3/4/4/5/4/6/0/em0otions10/567.jpg?9461">>
		<font color="002B87">
		<FONT SIZE=15>
			<h1>Iniciar Sesion</h1>
			</font>
		<FONT SIZE=5>
		<form th:action="@{/usuarios/conectar}" method="POST">
			
			
			<div><br><br><br><br><br><br><br>
				<label for="nick">Nick</label>
				<input type="text" name="nick" >
			</div>
			
			<div>
				<label for="password">Password</label>
				<input type="password" name="password" >
			</div>
			
			<div>
				<input type="submit" value="Enviar">
			</div>
			</form>
			</br>
			</font>
	</body>
</html>