<!DOCTYPE html>
<html>
	<head>
	<meta charset="ISO-8859-1">
	<title>Lista de Usuarios</title>
	</head>
	<body>
		
			<h1 >Iniciar Sesion</h1>
			
		
		<form>
			<input type="hidden" nick="nick" th:field="*{nick}">
			
			<div>
				<label for="nick">Nick</label>
				<input type="text" nick="nick" th:field="*{nick}">
			</div>
			
			<div>
				<label for="password">Password</label>
				<input type="text" nick="password" th:field="*{password}">
			</div>
			
			<div>
				<input type="submit" value="Enviar">
			</div>
			</form>
	</body>
</html>