<!DOCTYPE html>
<html align="center">
    <head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
    </head>
    <body>
        <h1>Listado de mensajes</h1>
        <link rel="shortcut icon" th:href="@{/css/favicon.jpg}">
        <br><br>
        <table>
            <thead>
                <tr><td>Nombre Tienda</td><td></td></tr>
            </thead>
            <tbody>
            <tr th:each="p : ${ListaTiendas}">
                <td th:text="${p.nombre}"></td>
                <td> <a th:href="@{/tienda/view/{id}(id=${p.id})}">Ver</a>  <a th:href="@{/tienda/delete/{id}(id=${p.id})}">Borrar</a>
            </tr>
            </tbody>
        </table>

    </body>
</html>