<!DOCTYPE html>
<html align="center">
	<head>
	<meta charset="ISO-8859-1">
	
	</head>
	<body  background="https://k39.kn3.net/taringa/3/4/4/5/4/6/0/em0otions10/567.jpg?9461">
		
	<font color="002B87">
	<FONT SIZE=15>
				
				<h1><label for="nombre">Tienda : </label>
				<span th:text="${tienda.nombre}"></span>
			</h1>
		
		</font>
		<FONT SIZE=6>
			<br><br><br><br><br><br>
			<div>
				<label for="direccion">Direccion:</label>
				<span th:text="${tienda.direccion}"></span>
			</div>
			<div>
				<label for="paginaWeb">Pagina Web:</label>
				<span th:text="${tienda.paginaWeb}"></span>
			</div>
			<div>
				<label for="tipo_Producto">Tipo Producto:</label>
				<span th:text="${tienda.tipo_Producto}"></span>
			</div>
			<div>
				<label for="valoracion">Valoracion:</label>
				<span th:text="${tienda.valoracion}"></span>
				<a th:href="@{/tienda/pos/{nombre}(nombre=${tienda.nombre})}"class="boton_4">&#x1F44D;</a>
				<a th:href="@{/tienda/neg/{nombre}(nombre=${tienda.nombre})}"class="boton_4">&#x1F44E;</a>
			</div>
			<div>
				<span>Mensajes:</span>
			</div>
			</br>
			</font>
			</font>
			
	</body>
</html>