/* FONDO VIDEO */
.contenido__video{
 background: #7DD174;
 overflow: hidden;
 position: fixed;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
 z-index: -1;
}


.video{
 position: absolute;
 max-width: 300%;
 width: 100%;
}

/* media queries (personalizarlo a su antojo)*/
@media(max-width: 1920px){
 .video{
  width: 150%;
 }
}
@media(max-width: 1080px){
 .video{
  width: 280%;
 }
}
@media(max-width: 480px){
 .video{ 
  width: 300%;
 }
}


/*FONDO ESCRITO*/



*{
    
    margin: 0;
    padding: 10;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
    
}

body{
    background:#fffffa;
    
}

header{
    
    width:100%;
    overflow:hidden;
    background:#252932;
    margin-bottom:20px;
    
}


.wrapper{
    width:100%;
    max-width:1000px;
    margin:auto;
    overflow:hidden;
}

header .logo{
    color:#f2f2f2;
    font-size:50px;
    line-height:200px;
    float:left;
    
}

header nav{
    float:right;
    line-height:200px;
    
}

header nav a{
    display:inline-block;
    color:#fff;
    text-decoration:none;
    padding:10px 20px;
    line-height:normal;
    font-size:20px;
    font-weight:bold;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease;
}

header nav a:hover{
    background:#f56f3a;
    border-radius:50px;
    
}

.header2{
    position: fixed;
    height:100px;
    
}

.header2 .logo{
    line-height:100px;
    font-size:50px;
}

.header2 nav{
    line-height:100px;
    }

.contenido{
        padding-top:160px;
        
    
}

.contenido p {
    margin-bottom:2em;
    
}



 
    
section{
    
    margin: 0;
    padding: 120px;
    background: #283747;
    border-radius: 4px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    
    }
    
    
    .boton_1{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
  }
  .boton_1:hover{
    opacity: 0.6;
    text-decoration: none;
  }

    .boton_4 {
text-decoration:none;
font-weight: 600;
font-size: 20px;
color:#333333;
padding-top:15px;
padding-bottom:15px;
padding-left:40px;
padding-right:40px;
background-color:#FFD27D;
border-color: #d8d8d8;
border-width: 3px;
border-style: solid;
border-radius:35px;
}



/* INICAR */


body{
    margin:0;
    padding:0;
    font-family: sans-serif;
    background:#34495e;
    

}

.box{
    margin-left:900px;
    bottom: 100px;
    width:380px;
    padding:60px;
    position:absolute;
    transform: translate(-50%,-50%);
    background:#191919;
    text-align:center;
    
}

.box h1{
    color:white;
    text-transform: uppercase;
    font-weight:500;
    
    
}


.box input[type = "text"],.box input[type = "password"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align:center;
    border:2px solid #3498db;
    padding:14px 10px;
    width:200px;
    outline:none;
    color:white;
    border-radius:24px;
    transition:0,25s;
    
    
    
}

.box input[type = "text"]:focus,.box input[type = "password"]:focus{
  width:280px;
  border-color:#2ecc71;
   
}

.box input[type = "submit"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align:center;
    border:2px solid #2ecc71;
    padding:14px 40px;
    outline:none;
    color:white;
    border-radius:24px;
    transition:0,25s;
    cursor:pointer;
    
}

.box input[type = "submit"]:hover{
    background:#2ecc71;
    
    
    
}



/* FONDO VIDEO */
.contenido__video{
 background: #7DD174;
 overflow: hidden;
 position: fixed;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
 z-index: -1;
}


.video{
 position: absolute;
 max-width: 300%;
 width: 100%;
}


@media(max-width: 1920px){
 .video{
  width: 150%;
 }
}
@media(max-width: 1080px){
 .video{
  width: 280%;
 }
}
@media(max-width: 480px){
 .video{ 
  width: 300%;
 }
}






/* cabezera */

*{
    
    margin: 0;
    padding: 10;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
    
}

body{
    background:#fffffa;
    
}

header{
    
    width:100%;
    overflow:hidden;
    background:#252932;
    margin-bottom:20px;
    
}


.wrapper{
    width:100%;
    max-width:1000px;
    margin:auto;
    overflow:hidden;
}

header .logo{
    color:#f2f2f2;
    font-size:50px;
    line-height:200px;
    float:left;
    
}

header nav{
    float:right;
    line-height:200px;
    
}

header nav a{
    display:inline-block;
    color:#fff;
    text-decoration:none;
    padding:10px 20px;
    line-height:normal;
    font-size:20px;
    font-weight:bold;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease;
}

header nav a:hover{
    background:#009EFF;
    border-radius:50px;
    
}

.header2{
    position: fixed;
    height:100px;
    
}

.header2 .logo{
    line-height:100px;
    font-size:50px;
}

.header2 nav{
    line-height:100px;
    }

.contenido{
        padding-top:160px;
        
    
}

.contenido p {
    margin-bottom:2em;
    
}



 
    
section{
    
    margin: 0;
    padding: 35px;
    background: #283747;
    border-radius: 4px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    
    }

    
